<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiushengfei.dao.CaregoryDao">
	<!-- 查询 -->
	<select id="select" resultType="Caregory">
		SELECT * FROM cms_category
	</select>
	<!-- ID查询 -->
	<select id="selectById" resultType="Caregory">
		SELECT * FROM cms_category WHERE id=#{id}


	</select>
	<!--修改 -->
	<update id="update">
		UPDATE cms_category
		SET name=#{name},channel_id=#{channel_id}
		WHERE id=#{id}
	</update>
	<!-- 删除 -->
	<delete id="delete">
		DELETE FROM cms_category WHERE id in(${ids})


	</delete>
	<!-- 添加 -->
	<insert id="insert">
		INSERT INTO cms_category(name,channel_id)VALUES
		(#{name},#{channel_id})

	</insert>


</mapper>  